body {
    padding: 30px;
    background: #efefef;
}

.big-h1 {
    font-size: 75px;
}

.inc-btn, .dec-btn {
    color: lightgrey;
    border: none;
}

.inc-btn:hover, .dec-btn:hover {
    color: grey;
}

.container {
    background: #fff;
}

.input-container {
    transition: max-height 5s;
}

.animate-in1 {
    transform: scale(0);
    transition: 0.5s;
}

.animate-in2 {
    transform: scale(1);
}

.animate-out1 {
    transform: scale(1);
    transition: 0.5s;
}

.animate-out2 {
    transform: scale(0);
}